#nav 
{
	display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav li
{
	float: left;
	padding: 5%;
}

#nav a
{
	display: block; 
	text-align: center;
	text-decoration: none;